<!DOCTYPE html>
{% extends "website/index.html" %}
{% load staticfiles %}

{% block title %}About{% endblock title %}
{% block content %}
<div class="content-container" data-vide-bg="{% static 'website/skylapse.mp4' %}">
    <div class="content-block-medium">

    <h1 class="headliner-text">
        Innovative Form Concrete Ideas Powerful & Expressive <span class="secondary-color">About Us</span>
        Passionate Team Provacative Presentation Absolute Design
    </h1>
    </div>
</div>
<div class="content-container">
    <div class="content-block-medium">
        <h1>Meet the Team.</h1>
        <div class="profile-row">
            <div class="profile-pic"></div>
            <div class="profile-content">
                <h2 class="profile-name">Conner Chyung, PhD. Everything</h2>
                <p>Hello this is a test paragrpah that is supposed to say some meaningful stuff about people that work at our company.
                But instead it just says this sentence.
                </p>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="content-block-medium">
         <div class="profile-row">
            <div class="profile-pic profile-pic-right"></div>
            <div class="profile-content">
                <h2 class="profile-name">Drew Parsons, PhD. Everything</h2>
                <p>Hello this is another test paragraph to test some other stuff lol.  Here are more words
                    to fill space up and make it look like it would when we finally figure out what we want
                    to say here.

                </p>
            </div>
        </div>
    </div>

</div>

{% endblock content %}