{% extends "website/index.html" %}
{% load staticfiles %}

{% block title %}Contact Us{% endblock title %}
{% block content %}
<div class="content-container">
  <div class="content-block-medium">
    <h2>Contact Us.</h2>
    <h4 class="secondary-color">Want to hire us? Have any questions? Shoot us an email.</h4>
    <form action="{% url 'website:contact' %}" method="post">
      {% csrf_token %}
      <label>Full Name</label><input type="text" name="fullname">
      <label>Email</label><input type="text" name="email">
      <label>Message</label><textarea class="input-message" type="text" name="message"></textarea>
      <button type="submit" value="Send" class="form-button">Submit</button>

    </form>
  </div>
</div>
{% endblock content %}
