{% extends "website/index.html" %}
{% load staticfiles %}

{% block title %}Contact Us{% endblock title %}
{% block content %}
<div class="content-container">
  <div class="content-block-medium">
    <h2>Contact Us.</h2>
    <h4 class="secondary-color">Want to hire us? Have any questions? Shoot us an email.</h4>
    <form>
      <label>Full Name</label><input type="text" name="name">
      <label>Email</label><input type="text" name="email">
      <label>Subject</label><input type="text" name="subject">
      <label>Message</label><textarea class="input-message" type="text" name="message"></textarea>
      <button class="form-button">Submit</button>

    </form>
  </div>
</div>
{% endblock content %}
