{% load staticfiles %}
<html>
    <head>
        <title>{% block title %}Absolute Design{% endblock title %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'website/style.css' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{% static 'website/jquery.stellar.min.js' %}"></script>
        <script src="{% static 'website/jquery.vide.min.js' %}"></script>
        <script src="{% static 'website/headroom.min.js' %}"></script>

        <script>
            $(document).ready(function() {
                $(window).stellar();
                var myElement = document.querySelector(".header");
                var headroom  = new Headroom(myElement);
                headroom.init();
                console.log("worked!")
            });
		</script>
    </head>
    <body>

        <div class="page">
            <!--Header-->
            <div class="header header-compressed header-fixed container-shadow">
                <div class="nav-container">
                    <ul class="nav">
                        <li class="nav-item nav-item-compressed"><a class="nav-link" href="{% url 'website:contact'}">CONTACT US</a></li>
                        <li class="nav-item nav-item-compressed"><a class="nav-link" href="{% url 'website:about' %}">ABOUT</a></li>
                        <li class="nav-item nav-item-compressed"><a class="nav-link" href="{% url 'website:home' %}">HOME</a></li>
                    </ul>
                </div>
            </div>
            <!--Content-->
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
            <!--Footer-->
            <div class="footer">
                <div class="divider">
                </div>
                <div class="footer-content">
                    <ul class="contact-list">
                        <li class="contact-item"><div class="icon-bullet" style="background-image: url({% static 'website/home.png' %})"></div>Absolute Design '16</li>
                        <li class="contact-item"><div class="icon-bullet" style="background-image: url({% static 'website/globe.png' %})"></div>Denver, CO</li>
                        <li class="contact-item"><div class="icon-bullet" style="background-image: url({% static 'website/email.png' %})"></div>email@aboslutedesign.com</li>
                        <li class="contact-item"><div class="icon-bullet" style="background-image: url({% static 'website/phone.png' %})"></div>(303)-815-4595</li>
                    </ul>

                </div>
            </div>
        </div>
    </body>
</html>
