{% extends "website/index.html" %}
{% load staticfiles %}
{% block title %}Test{% endblock title %}
{% block content %}
<section class="content-container">
        <div class="content-block-medium">
            <h1>
                This is a test.
            </h1>
            <p>
                Lorem ipsum blablablablablablablabl
            </p>
        </div>
</section>

<section class="content-container">
    <div class="content-block content-block-medium" >
            <h1>This is a test block.</h1>
            <p>
               Lorem ipsum dolor sit amet, nulla id id ac sodales magna. Dis bibendum metus viverra tortor,
                ut ut venenatis platea nam sed curabitur, dis in, praesent vivamus vestibulum, ut bibendum
                duis a fusce. Lorem mi cursus lorem imperdiet, ligula varius, eget nunc potenti diam pede,
                luctus et quisque ornare sapien commodo odio, donec massa tincidunt. Laoreet ultrices facilisis
                et curabitur imperdiet ipsum, et felis, amet sodales tempus, nec arcu faucibus duis.
            </p>
            <br>
            <br>
            <br>
        </div>
</section>


{% endblock content %}