html, body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family:"HelveticaNeue-Light";
    font-size:100%;
    line-height: 1.2;
    display:block;
    background-color:#FFFFF7;
}

h1{
    font-size:500%;
    margin:0;
}

h2{
    font-size:200%;
    margin:0;
}

p{
    font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
    font-size:170%;
    font-weight:500;
}

.secondary-background{
    background-color:#de5a51;
}

.secondary-color{
    color:#de5a51;
}

.header{
    width:100%;
    position:relative;
    display:block;
    height: 130px;

}

.nav-container{
    float:right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width:800px;
    margin-right:40px;

}
.nav{
    list-style:none;
    display:inline;

}

.nav-item{
    float:right;
    font-size:100%;
    font-weight:500;
    margin-right:100px;

}

.nav-item-border{
    border: solid black 1px;

}

.nav-item:hover{
    background-color:black;
    color:white;
}

.nav-link{
    position:relative;
    display:block;
    padding:10px 20px;
    text-decoration:none;

}

.nav-link:hover{
    color:white;
}

.nav-link:visited{
    color:inherit;
    text-decoration:none;
}

.logo{
    height: 640px;
    width: 1000px;
    margin: 0 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.page{
    width: 100%;
    min-height:100%;
    position:relative;
}

.footer{
    width: 100%;
    position: absolute;
    bottom:0;
    background-color:

}

.footer-actual{
    /*temp*/
    height:100px;
    background-color:lightgrey;

}

.logo{
    height:93px;
    width:150px;
}

.logo-float-left{
    float:left;
    position:relative;

}

/*home*/
.jumbo-container{
    width:100%;
    position:relative;

}
.jumbo-image{
    width:100%;
    position:relative;
    height: 800px;

}

.jumbo-text{
    color:white;
    margin: 0 0;
    font-weight:600;
    position:absolute;
    padding:30px;
    padding:1.2% 1.6%;
    top:300px;
    left:150px;
}

.jumbo-parralax{
    transform: translateY(100px);
}


.jumbo-text-secondary{
    left:150px;
    top:410px;
    position:absolute;

}

.jumbo-text-solid{
    padding:1.2% 1.6%;
    background-color:black;

}

.jumbo-text-border{
    padding:1.2% 1.6%;
    border:solid white 1px;

}

.jumbo-text-center{
    text-align:center;
    margin: 0 auto;
    left:20%;
    right:20%;

}

.content-block{
    width:100%;

}

.parallax-container{
    height:300px;

}

.underline{
    text-decoration:underline;

}

.content-container{
    width:100%;
    background-color:white;
    padding: 25px 0 35px;


}

.content-block-medium{
    padding-top:100px;
    width:70%;
    margin:0 auto;
    overflow:auto;
    display:block;

}
